.login-container{
    width : 100%;
    display:flex;
    justify-content:center;
    height:100vh;
    align-items:center
}

.login-card {
    background: white;
    width: 350px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
    direction: rtl; /* Right-to-left text */
}

    .login-card .title {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 6px;
    }

    .login-card .subtitle {
        font-size: 14px;
        color: #666;
        margin-bottom: 20px;
    }

.login-form .input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.3s;
}

    .login-form .input:focus {
        border-color: mediumpurple;
    }

.options {
    font-size: 13px;
    color: #666;
    text-align: right;
    margin-bottom: 20px;
}

.btn-login {
    width: 100%;
    background: mediumpurple;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

    .btn-login:hover {
        background: rebeccapurple;
    }

hr {
    margin: 25px 0;
    border: none;
    border-top: 1px solid #eee;
}

.no-account {
    font-size: 13px;
    margin-bottom: 10px;
    color: #444;
}

.btn-register {
    display: block;
    text-decoration: none;
    background: #f2f2f2;
    color: #555;
    padding: 12px;
    border-radius: 25px;
    font-size: 14px;
    transition: background 0.3s;
}

    .btn-register:hover {
        background: #e5e5e5;
    }


.profile-info {
    text-align: right;
    margin-bottom: 20px;
    font-size: 15px;
    color: #333;
}

    .profile-info p {
        margin: 8px 0;
        line-height: 1.6;
    }
